doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
  body
    main(data-theme="medieval")#theme-display
      block content
      